
body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at 50% 50%, var(--accent-color), var(--accent-color));
}

#canvas-container {
  width: 800px;
  height: 600px;
}